/* Primary Color (Dark blue)
Hex: #0d253f
RGB: 13, 37, 63
*/
/* Secondary Color (Light blue)
Hex: #01b4e4
RGB: 1, 180, 228
*/
/* Tertiary Color (Light green)
Hex: #90cea1
RGB: 144, 206, 161
*/
.upper-header {
    background-color: #0d253f;
    height: 64px;
}
.upper-header > div {
    height: 100%;
}
.header-language-icon {
    height: 28px;
    width: 30px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
